
<div class="wrapper ">
    <div class="header-showroom text-right"></div>
    <div class="navbar">
        <div class="nav1">
            <div class="nav-search">
                <input type="text" class="input-search" id="searchtext" size="20" placeholder="Tìm kiếm...">   
                <span >
                  <a href="#"><i class="fas fa-search icon-search " ></i></a>
                </span>
            </div>
            <div class="nav-logo"><a href="/"><img src="/static/img/7.png" alt="" class="logo-icon"></a></div>
            <div class="nav-cart">
              <div class="cart">
                <a href="#"><i class="fas fa-shopping-bag"></i>Giỏ hàng</a>
              </div>
              <div class="user">
                <a href="login"><i class="fas fa-user"></i>Đăng nhập</a>
              </div>
            </div>
        </div>
        <div class="nav2">
          <ul class="inline-list">
            <li class="menu-item col-3">
              <a href="" class="menu-link a">
                HÀNG MỚI
              </a>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </li>
            <li class="menu-item col-3">
              <a href="" class="menu-link a">
                BỘ SƯU TẬP
              </a>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </li>
            <li class="menu-item col-3">
              <a href="" class="menu-link a">
                SALE
              </a>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </li>
            <li class="menu-item col-3">
              <a href="" class="menu-link a">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
    </div>
</div>
